:root {
  --heading-font-family: "Playfair Display", serif;
  --text-font-family: "Poppins", sans-serif;
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  body {
    font-family: var(--text-font-family);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 700;
}
.hero {
  background: var(--secondary-color);
  padding: 160px 20px;
}
.hero p {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
.hero h2 {
  font-family: var(--text-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  color: #272142;
}
.btn-branding {
  font-size: 18px;
  line-height: 27px;
  background: var(--branding-color);
  border-radius: 4px;
  padding: 15px 30px;
  color: white;
}
h2 {
  font-size: 64px;
}
p {
  font-size: 16px;
  line-height: 30px;
}
.btn-branding-outline {
  font-size: 18px;
  line-height: 27px;
  border-radius: 4px;
  padding: 15px 30px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}
.project-description {
  padding: 80px 40px;
}
.content-container {
  padding: 160px 20px;
}
.content {
  margin: 30px;
  text-align: center;
  padding: 0;
}
.content h1 {
  font-size: 50px;
  line-height: 1.5;
}
.content h2 {
  font-size: 18px;
  font-family: var(--text-font-family);
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--text-font-family);
}
.content p {
  font-size: 14px;
}
@media (max-width: 960px) {
  h1 {
    font-size: 50px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0px 30px;
  }
  .image {
    margin-bottom: 50px;
  }
}
